@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
html,
body,
* {
  background: none;
  border: none;
  cursor: arrow;
  outline: none;
  overflow-x: hidden;
  text-decoration: none;
  font-family: 'Righteous', cursive;
}
